#LEIMainTable {
	background-color: #323336;
	padding: 0px;
	margin: 0px;
	border: none;
}
#LEImainDiv table {
	width: 100%;
}
#LEIMainTitleTable {
	background-color: #323336;
	padding: 0px;
	margin: 0px;
	border: none;
}
#LEIMainTable img {
	display: inline;
}
#LEIMainTable td {
	padding: 0px 5px 0px 5px;
	margin: 0px;
	vertical-align: middle;
}
#emtDebugTopLeft {
	background: transparent url(http://lpdevnew/training/emtdebuglib/images/topBarStart.png) no-repeat scroll left top;
	width: 6px;
}
#emtDebugLogo {
	background: #323336 url("https://z1-a.le.liveperson.net/assets/img/100x100-sprite.png") -118px -12px no-repeat;
	width: 85px;
}
#LEIMainTitle {
	background: #323336;
	color: #fff !important;
	cursor: move;
	font-family: "Myriad pro", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}
#LEIMainTitleTable td {
	padding: 0px 3px 0px 3px;
	margin: 0px;
}
#LEIMinimize {
	background: #323336;
	text-align: right;
	width: 90px;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}
#LEIMinimize a {
	cursor: pointer;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
}
#LEIMinimize img {
	padding-top: 3px;
	display: inline;
}
#LEITopRight {
	background: transparent url(http://lpdevnew/training/emtdebuglib/images/topBarEnd.png) no-repeat scroll right top;
	padding: 0px;
	margin: 0px;
	text-align: right;
	width: 6px;
}

/*  The main monitor window     */
#emtDebugMainMonitorTable {
	background-color: #515254;
	border: none;
	margin: 0px;
}
#LEIImgCloseLog {
	width: 16px;
	height: 16px;
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -680px -19px no-repeat;
	padding-top: 2px;
	padding-right: 2px;
}
.LEImainTableTopRow {
	background-color: #323336;
	text-align: left;
	font-family: Arial;
	font-size: 12px;
	padding: 3px;
	border-collapse: collapse !important;
	border-spacing: 2px !important;
}
.LEImainTableTopRow td {
	text-align: left;
	font-family: Arial;
	font-size: 14px;
	padding: 3px;
	//border-left: 1px solid #767678;
	border-collapse: collapse !important;
	border-spacing: 2px !important;
	color: #fff;
	vertical-align: middle;
}
.LEIMiniBtn {
	width: 16px;
	height: 16px;
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -500px 0px no-repeat
}
.LEITagStatNotFound {
	width: 16px;
	height: 16px;
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -300px 0px no-repeat
}
.LEITagStatOk {
	width: 16px;
	height: 16px;
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -260px 0px no-repeat
}
.LEITagStatWarn {
	width: 16px;
	height: 16px;
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -260px -40px no-repeat
}
.LEICloseBtn {
	width: 16px;
	height: 16px;
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -680px 0px no-repeat
}
.LEIMiniWrapper {
	float: right;
	margin: 0px 4px 0px 4px;
}
.LEIMaxBtn {
	width: 16px;
	height: 16px;
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -500px 0px no-repeat
}
.LEImainTableTopRowAcc {
	background-color: #FF9801;
	color: #fff;
}
.LEILable {
	text-transform: uppercase;
	color: #dcdcdc !important;
	font-size: 10px !important;
}
.LEIEMTDivider {
	border-right: 1px solid #767678;
}
.LEImainTableLabelRow {
	text-align: left;
	font-family: Arial;
	font-size: 12px;
	background-color: #515254 !important;
	padding: 1px;
	border-collapse: collapse !important;
	border-spacing: 2px !important;
	vertical-align: middle;
}
.LEImainTableLabelRow td {
	text-transform: uppercase;
	text-align: left;
	font-family: Arial;
	font-size: 10px;
	padding: 1px;
	background-color: #515254;
	color: #dcdcdc !important;
	vertical-align: middle;
}
.LEImainTableNumberRow {
	background-color: #515254 !important;
	text-align: left;
	font-family: Arial;
	font-size: 12px;
	padding: 3px;
	white-space: nowrap;
	vertical-align: middle;
}
.LEImainTableNumberRow td {
	text-align: left;
	font-family: Arial;
	font-size: 16px;
	padding: 3px;
	white-space: nowrap;
	color: #fff !important;
	vertical-align: middle;
}
.emtDebugInfo {
	cursor: pointer;
}

/* The main Log Window */
#LEIMainLogWindow {
	display: none;
}
#LEILogWindow {
	text-align: left;
	font-family: Arial;
	font-size: 12px;
	border-top: 1px solid #767678;
	background-color: #323336;
}
#LEILogWindow table {
	border-collapse: collapse;
	border: none;
	width: 100%;
	text-align: left;
	color: #fff;
}
#LEILogWindow table tr td {
	color: #fff;
}
#LEILogWindow tr:nth-child(2n+1) {
	background-color: #656568;
}
#LEILogWindow tr:nth-child(2n) {
	background-color: #5A5B5E;
}
#LEIMessageWindowTitle, #LEIMessageWindowCtrlPanel, #LEIMessageWindowClose {
	text-align: center;
	font-family: "Myriad pro", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	background-color: #FF9801;
	border-bottom: 1px solid #767678;
}
#LEIMessageWindowTitle {
	border-left: 1px solid #767678;
}
#LEIMessageWindowClose {
	border-right: 1px solid #767678;
}
#LEIMessageWindowClose {
	text-align: right;
	padding: 2px;
}
.LEILogMessageDEBUG {
	line-height: 12px;
	text-align: left;
	background-color: #515254;
	border: 0px;
	color: dcdcdc;
	font-family: verdana, tahoma, arial, sans-serif;
	white-space: nowrap;
	font-size: 12px;
}
.LEILogMessageOK {
	line-height: 12px;
	text-align: left;
	background-color: #515254;
	border: 0px;
	color: green;
	font-family: verdana, tahoma, arial, sans-serif;
	white-space: nowrap;
	font-size: 12px;
}
.LEILogMessageWARN {
	line-height: 12px;
	text-align: left;
	background-color: #515254;
	border: 0px;
	color: #FF00FF;
	font-family: verdana, tahoma, arial, sans-serif;
	white-space: nowrap;
	font-size: 12px;
}
.LEILogMessageERROR {
	line-height: 12px;
	text-align: left;
	background-color: #515254;
	border: 0px;
	color: red;
	font-family: verdana, tahoma, arial, sans-serif;
	white-space: nowrap;
	font-size: 12px;
}

/*  The Status Bar */
#LEIMainStatusTable {
	vertical-align: middle;
	border: none;
	margin: 0px;
}
#LEIMainStatusTable tr td {
	color: #fff;
}
#LEIStatusLeft {
	background: #323336;
	width: 10px;
	padding: 0;
	vertical-align: middle;
}
#LEIStatusImageTD {
	background: #323336;
	font-family: Arial;
	font-size: 12px;
	color: #fff !important;
	width: 20px;
	vertical-align: middle;
}
#LEIStatusCenter, #LEIStatusProgress, #LEIMsgStatusLogPlayerStatus {
	background: #323336;
	color: #fff !important;
	font-family: Arial;
	font-size: 12px;
	padding: 0;
	white-space: nowrap;
	vertical-align: middle;
}
#LEIMainTable tbody tr {
	background-color: #323336;
	border: 0px none #323336;
}
.LEIStatusBar {
	background-color: #323336;
	color: #fff !important;
	font-family: Arial;
	font-size: 10px;
	text-align: left;
}
#LEIMsgStatusLogPlayerStatus {
	width: 70px;
	text-align: center;
}
#LEIStatusProgress {
	width: 20px;
	text-align: center;
	vertical-align: middle;
}
#LEIStatusTimeOnPage {
	vertical-align: middle;
}
.LEIStatusDivider {
	background: #323336;
	width: 3px;
}
#LEIImgShowTools {
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -1100px -20px no-repeat;
	width: 16px;
	height: 16px;
}
#LEIImgLog {
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -1040px -60px no-repeat;
	width: 16px;
	height: 16px;
}
.LEITimeIcon {
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -120px -80px no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
	float: left;
	margin: 4px 5px 0px 5px;
	vertical-align: middle;
}
.LEIFilterIcon {
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -1780px -20px no-repeat;
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
	margin: 4px 5px 0px 5px;
}
.LEILogTitle {
	vertical-align: middle;
	line-height: 24px;
	height: 24px;
}
.LEIStatusResize {
	background: transparent url("https://stoneyshou.github.io/img/sprite.png") -2160px -19px no-repeat;
	padding: 0 !important;
	text-align: right;
	width: 16px;
	cursor: se-resize;
}
.LEIStatusNOResize {
	padding: 0;
	text-align: right;
	width: 25px;
	cursor: default;
}

/* Tools DIV and inside of it */
#LEIToolsDiv {
	position: absolute;
	left: 350px;
	width: auto;
	text-align: left;
	background-color: #323336;
	border: 2px groove #767678;
	font-family: Arial;
	font-size: 12px;
	display: none;
}
#LEIToolsTable td {
	text-align: left;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #fff !important;
	white-space: nowrap;
	cursor: pointer;
	padding: 0px;
	margin: 0px;
}
#LEIToolsTable td a {
	text-align: left;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #fff !important;
	white-space: nowrap;
	text-decoration: none;
}
#LEIEvalInput {
	text-align: left;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px !important;
	color: #fff !important;
	white-space: nowrap;
	height: 35px;
	overflow: auto;
}
.LEIEvalToolBtn {
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px !important;
	color: #fff !important;
	white-space: nowrap;
	width: 90px;
}
.LEIGeneralInfo th {
	text-align: left;
	font-family: Arial;
	font-size: 12px !important;
	font-weight: bold;
	padding: 3px;
	border-bottom: 1px solid #767678;
	white-space: nowrap;
	vertical-align: top;
}
.LEIGeneralInfo a {
	text-align: left;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px !important;
	color: #fff !important;
	white-space: nowrap;
	text-decoration: underline;
}
.LEIGeneralInfo td {
	text-align: left;
	font-family: Arial;
	font-size: 12px !important;
	padding: 3px;
	border-bottom: 1px solid #767678;
	white-space: nowrap;
}
.LEIHiddenTD {
	text-align: left;
	font-family: Arial;
	font-size: 12px !important;
	padding: 3px;
	border-bottom: 1px solid #767678;
	white-space: nowrap;
	display: none;
}

/* General CSS for error/warn and OK display */
.emtDebugError {
	cursor: pointer;
	background-color: red !important;
}
.emtDebugWarn {
	cursor: pointer;
	background-color: yellow !important;
}
.emtDebugOK {
	background-color: green;
	color: white !important;
}
.emtDebugRedirectString {
	text-align: left;
	font-family: Arial;
	font-size: 12px !important;
	color: green;
}
#LEIFilterWindow table {
	text-align: left;
	font-family: Arial;
	font-size: 12px !important;
	width: 100%;
	color: #fff;
}
#LEIMainLogWindowTable tbody {
	border: none;
}
#LEIMainLogWindowTable {
	border: 0px;
	color: #fff;
	margin: 0px;
}